 


body {
    background-color: #a8d2e2;
    text-align: center;
    font-size: 24px;
  }
  

header {
    background-color: #130930;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.subheading {
    margin-top: 10px;
    font-style: italic;
}

section {
    padding: 20px;
    margin-top: 20px;
    background-color: #eef7d0;
    border: 1px solid #ccc;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #072078;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
tr{
    text-align: left;
}
table{
    margin  : 0 auto;
}